In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [7]:
data = pd.read_csv(r"C:\Users\user\Downloads\energydata_complete1.csv")

In [8]:
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [9]:
from sklearn.metrics import r2_score
r2_score = r2_score(data["T2"], data["T6"])

In [10]:
r2_score

-35.393237546666604

In [13]:
data = data.drop(["date","lights"], axis = 1)

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
scaler = MinMaxScaler()
normal_data = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)

In [17]:
data_x = normal_data.drop( columns = "Appliances")

In [18]:
data_y = normal_data["Appliances"]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data_x, data_y, random_state = 42, test_size = 0.3)

In [24]:
y_test

8980     0.028037
2754     0.074766
9132     0.037383
14359    0.037383
8875     0.056075
           ...
831      0.224299
10993    0.046729
11761    0.037383
12364    0.093458
11863    0.037383
Name: Appliances, Length: 5921, dtype: float64

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [31]:
regr_mod = LinearRegression()
regr_mod.fit(x_train, y_train)
pred_data_y = regr_mod.predict(x_test)

pred_data_y

array([0.03319482, 0.24412217, 0.0340092 , ..., 0.06843864, 0.09999407,
       0.05760656])

In [32]:
MAE = mean_absolute_error(y_test, pred_data_y)

In [34]:
round(MAE,2)

0.05

In [62]:
from sklearn.metrics import mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, pred_data_y))

In [69]:
rmse

0.08751525321095997

In [36]:
RRS = np.square(rmse) * len(y_test)

In [38]:
round(RRS, 2)

45.35

In [39]:
round(rmse, 3)

0.088

In [40]:
from sklearn.metrics import r2_score

coef_det = r2_score(y_test, pred_data_y)

In [41]:
round(coef_det, 2)

0.15

In [49]:
feature_weights = pd.Series(regr_mod.coef_, x_train.columns)

In [51]:
feature_weights.sort_values(ascending = False).head()

RH_1         0.553516
T3           0.290587
T6           0.236441
Tdewpoint    0.117862
T8           0.101995
dtype: float64

In [52]:
feature_weights.sort_values().head()

RH_2    -0.456662
T_out   -0.321969
T2      -0.236198
T9      -0.189977
RH_8    -0.157585
dtype: float64

In [75]:
from sklearn.linear_model import Ridge
rid_mod = Ridge(alpha = 0.4)

In [92]:
rid_mod.fit(x_train,y_train)
pred_ridge = rid_mod.predict(x_test)

In [93]:
rmse = np.sqrt(mean_squared_error(y_test, pred_ridge))

In [94]:
rmse

0.08753457737387474

In [74]:
rmse

0.08751525321095997

In [79]:
from sklearn.linear_model import Lasso

In [80]:
lasso_reg = Lasso(alpha = 0.001)

In [82]:
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [83]:
lasso_weights = pd.Series(lasso_reg.coef_, x_train.columns)

In [89]:
lasso_weights[lasso_weights != 0].count()

4

In [96]:
pred_lasso =lasso_reg.predict(x_test)

In [90]:
rmse

0.08751525321095997

In [97]:
rmse = np.sqrt(mean_squared_error(y_test, pred_lasso))

In [99]:
round(rmse, 3)

0.094